.vending-machine {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

    .vending-machine .vending-machine-header {
        text-align: center;
        background-color: maroon;
        color: wheat;
        font-size: 24px;
        font-weight: bold;
    }

    .vending-machine .vending-machine-display {
        margin: 1.5em;
        /*padding:3px;*/
    }

        .vending-machine .vending-machine-display textarea {
            width: 100%;
            background-color: olivedrab;
            resize: none;
        }

.beverages {
    margin: 5px;
    border: 2px solid;
    border-color: wheat;
}

    .beverages .beverages-header {
        text-align: center;
        background-color: wheat;
        color: maroon;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
    }

.change-tray {
    margin: 5px;
    border: 2px solid;
    border-color: wheat;
    min-height: 100px;
}

    .change-tray .change-tray-header {
        text-align: center;
        background-color: wheat;
        color: maroon;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
    }

.coin {
    width: 50px;
}

textarea {
    width: 100%;
    background-color: olivedrab;
    resize: none;
}
